@media (max-width: 670px) {
	* {
		box-sizing: border-box;
	}
	/* ヘッダー*/
	.site-header {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 5;
	}

	.header-list {
		display: none;
	}

	.menu-sumafo {
		display: inline-block;
		text-align: right;
	}

	h1 {
		padding: 50px 0px;
		text-align: center;
	}

	/* POTEPANコースについて*/
	.top-content span {
		display: block;
/* 改行できない　*/
	}

	.course-content {
		width: 95%;
	}

	/* 全コースの共通POINT　*/
	.course-points {
		display: flex;
		flex-direction: column;
	}
	.course-point p {
		width: 100%;
		text-align: center;
	}
	.course-point img {
		width: 100%;
		height: 70%;
/* heightきかない　*/
	}

	/* コース比較表 */
	.table {
		width: 90%;	
	}

	/* コースプラン　*/
	.course-anchor {
		width: 100%;
	}
	
	.task-topic {
		display: block;
	}
	.task-topic img {
		width: 100%;
	}

	.students {
		width: 100%;
		overflow: scroll;
		overflow-y: hidden;	
	}

	.student {
		width: 100%;
	}

	.site-fooder {
		display: block;
	}

	.fooder-lists {
		margin-left: 0px;
	}

	.fooder-icon a {		
		right: 5px;
	}